.domains {
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 140px;
  width: 955px;
  min-height: 610px;
  padding: 77px;
  background: #ffffff;
}

.domains__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  @include sourceSansPro(semi-bold);
  font-size: 32.5px;
  line-height: 37.5px;
}


.domains__nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-width: 1px;
  border-color: rgba(223, 227, 233, 0.70);
  border-style: solid;
  border-radius: 2px;
  color:#354052;

  .domains__edit:hover {
    background: url('/images/icons/edit-icon.png') no-repeat;
  }

  .domains__delete:hover {
    background: url('/images/icons/delete-icon.png') no-repeat;
  }
}

.domains__nav-title {
  width: 100px;
  margin-left: auto;
  font-size: 14px;
  @include sourceSansPro(regular);
}

.domains__nav-title--font {
  font-size: 13px;
  font-family: 'source_sans_probold';
  color: #393f47;
}

.domains__nav-title--ml {
  margin-left: 20px;
}

.domains__list {
  min-height: 135px;
  margin: 0;
  padding: 0;
}

.domains__item {

}


.domains__checkbox {
  width: 14px;
  height: 14px;
  border-width: 1px;
  border-color: rgb(205, 205, 205);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}


.domains__item-title {
  width: 100px;
  margin-left: auto;
  font-size: 14px;
  @include sourceSansPro(regular);
}

.domains__item-title--font {
    font-size: 13px;
    font-family: 'source_sans_probold';
    color: #393f47;
}

.domains__item-title--ml {
  margin-left: 20px;
}


.domains__nav-date {
  width: 100px;
  margin-left: auto;
}

.domains__nav-time {
  width: 100px;
  margin-left: auto;
}

.domains__btns {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: auto;
}

.domains__edit {
  display: block;
  width: 11px;
  height: 11px;
  background: url('/images/icons/edit-icon.png') no-repeat;
  cursor: pointer;

  &:hover {
    background: url('/images/icons/edit-icon-hover.png') no-repeat;
  }
}

.domains__delete {
  display: block;
  width: 11px;
  height: 11px;
  margin-left: 10px;
  background: url('/images/icons/delete-icon.png') no-repeat;
  cursor: pointer;

  &:hover {
    background: url('/images/icons/delete-icon-hover.png') no-repeat;
  }
}

.domains__list {
  margin: 0;
  padding: 0;
}

.domains__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  margin-bottom: 5px;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;

  &:hover {
    background: #f2f2f2;
  }
}
