{
  parser: "babel-eslint",
  "rules": {
    "no-unused-vars": 0,
    "prop-types": [0],
    "linebreak-style": "off",
    "no-else-return": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-console": 0,
    "strict": 0,
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "import/no-mutable-exports": "off",
    "global-require": "off",
    "function-paren-newline": "off",
    "no-return-assign": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "prefer-template": "off"
  },
  "extends": ["airbnb-base"],
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
   "env": {
    "browser": true,
    "node": true
  }
}
