.add-btn {
  display: inline-block;
  padding: 14px 40px;
  color: #ffffff;
  background: rgb(25, 145, 235) url('/images/icons/add-icon.png') 20px center no-repeat;
  border-radius: 3px;
  text-decoration: none;
}
